/bin/
/target/
/.idea/
/.settings
/MyStrtus2Study/HelloWorldDemo/.settings/
/MyStrtus2Study/HelloWorldDemo/WebRoot/WEB-INF/classes/
/MyStrtus2Study/HelloWorldDemo/bin/
/MyStrtus2Study/HelloWorldDemo/target/
/MyStrtus2Study/HelloWorldDemo/.idea/
/MyStrtus2Study/HelloWorldDemo/.classpath
/MyStrtus2Study/HelloWorldDemo/.project